<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiamaes.bike.api.information.countdata.persistence.CountDataMapper">
	
	<select id="getTotalOfBikes" resultType="int">
		SELECT COUNT(1) FROM tb_vehicle t WHERE registered = 1
	</select>
	
	<select id="getTotalOfParks" resultType="int">
		SELECT COUNT(1) FROM tb_park t 
	</select>
	
	<select id="getTotalOfUsers" resultType="int">
		SELECT COUNT(1) FROM tb_driver t 
	</select>
	
</mapper>