<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiamaes.bike.storage.persistence.ParkWarningInfoMapper">
	<insert id="addParkWarningInfo" parameterType="com.tiamaes.bike.common.bean.integrated.PileRecord">
		INSERT INTO tb_pile_warning_info (
			id,
			parkId,
			parkName,
			warnCode,
			warnContent,
			lng,
			lat,
			createDate
		) VALUES (
			#{id},
			#{park.id},
			#{park.name},
			#{warnCode.index},
			#{warnContent},
			#{park.lng},
			#{park.lat},
			#{createDate}
		)
	</insert>
</mapper>