<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tiamaes.bike.api.information.region.persistence.RegionMapper">
	<resultMap id="regionMap" type="com.tiamaes.bike.common.bean.information.Region">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="parentId" column="parentId"/>
		<result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="state" column="state"/>
	</resultMap>
	
	<!-- 根据Id查询驾驶员信息信息 -->
	<select id="getRegionsByParentId" parameterType="String" resultMap="regionMap">
		SELECT 	t.id,
				t.name,
				t.parentId,
				t.type,
				t.state
		  FROM tb_region t 
		WHERE t.parentId = #{parentId}
	</select>
	
	<!-- 根据Id查询驾驶员信息信息 -->
	<select id="getRegionsByType" parameterType="Integer" resultMap="regionMap">
		SELECT 	t.id,
				t.name,
				t.parentId,
				t.type,
				t.state
		  FROM tb_region t 
		WHERE t.type = #{type}
	</select>
</mapper>