<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiamaes.bike.exporter.integrated.pile.persistence.PileQueryMapper">
	<resultMap type="com.tiamaes.bike.common.bean.integrated.PileRecord" id="pileRecordMap">
		<id property="id" column="id"/>
		<result property="warnCode" column="warnCode" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="warnContent" column="warnContent"/>
		<result property="createDate" column="createDate"/>
		<result property="place" column="place"/>
		<association property="park" javaType="com.tiamaes.bike.common.bean.information.Park">
			<result property="id" column="parkId"/>
			<result property="name" column="parkName"/>
			<result property="lng" column="lng"/>
			<result property="lat" column="lat"/>
		</association>
	</resultMap>
	
	<!-- 权限通用sql片段 -->
	<sql id="userDataAuthorities">
			AND EXISTS (SELECT 1 FROM TB_DATA_AUTHORITY T2 
			WHERE T2.userId = ${userId}  
			AND T2.levels = 2
			AND T2.targetId = ${innerField} 
			)
	</sql>
	
	<!-- 查询车辆进出场记录列表 -->
	<select id="getListOfPileRecords" parameterType="com.tiamaes.bike.common.bean.integrated.PileRecord" resultMap="pileRecordMap">
		SELECT t.id,
			   IFNULL(t.parkName,'无')      AS parkName,
			   t.warnCode,
		       t.createDate,
		       CONCAT_WS(',', t.lng, t.lat) AS place
		  FROM tb_pile_warning_info t
		<where>
			<if test="park != null and park.id != null">
		     AND t.parkId = #{park.id}
			</if>
			<if test="warnCode != null and warnCode.index != null">
		     AND t.warnCode = #{warnCode.index}
			</if>
			<if test="startTime != null">
		     AND t.createDate &gt;= #{startTime} 
			</if>
			<if test="endTime != null">
		     AND #{endTime} &gt;= t.createDate
			</if>
			<!-- <include refid="userDataAuthorities">
			  	<property name="userId" value="#{userId}"/>
			  	<property name="innerField" value="t.departmentId"/>
			</include> -->
		</where>
		ORDER BY t.createDate DESC
	</select>
</mapper>